body {
  background-color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

h1 {
  display: none;
}

.links-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.links-wrapper::before {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background: url('../img/background.jpg') no-repeat center center / cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

a {
  text-decoration: none;
}

.link-to-page,
.info-window > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-to-page:nth-child(even) {
  background-color: rgba(51, 51, 51, 0.7);
}

.link-to-page > h2 {
  font-size: 1.5em;
  color: #f4f4f4;
}

.in-progress {
  cursor: pointer;
}

.info-window {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}

.info-window > div {
  width: 100%;
  height: 40vw;
  padding: 2em;
  font-size: 1.4em;
  text-align: center;
  background-color: #f4f4f4;
}

h2,
.info-window > div {
  user-select: none;
}

/* Media Query */
@media (min-width: 640px) {
  body {
    font-size: 18px;
  }

  .info-window > div {
    width: 55vw;
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .links-wrapper {
    font-size: 22px;
  }
}
