body {
  background-color: #121212;
  font-family: 'Noto Serif JP', sans-serif;
}

h1 {
  height: 0;
  width: 0;
  visibility: hidden;
}

.links-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

.page {
  width: 800px;
  height: 100px;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid #ffffff10;
  border-radius: 5px;
}

.page > h2 {
  font-size: 26pt;
  color: #f4f4f4;
}

.page:hover {
  background-color: #282828;
}

.label-new,
.label-soon {
  font-size: 17pt;
  position: absolute;
  top: -15px;
  right: 30px;
}

.label-new {
  color: #00aaff;
}

.label-soon {
  color: #afaf00;
}

.in-progress {
  opacity: 0.5;
}
