.about {
  width: 100%;
  height: auto;
  background: linear-gradient(to left, rgba(223, 227, 227, 0.4) 30%, rgba(223, 227, 227, 0)), #fff;
  display: grid;
  grid-template:
    '. about-article dish-image .' 1fr
    / 1fr 5fr 5fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 14px;
  padding: 4em 0;
}

.about article {
  width: 31em;
  text-align: center;
  grid-area: about-article;
}

.about .caption {
  font-family: 'YesevaOne';
  font-size: 2.6em;
  color: #cc9900;
}

.about-divider {
  width: 17.6em;
  height: 1.7em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.about p {
  font-family: 'Lato';
  font-size: 1.2em;
  max-height: 12em;
  line-height: 1.5;
  overflow: hidden;
  padding-bottom: 3em;
}

.about .cook-image {
  width: 13vw;
  height: 13vw;
  margin-left: 5em;
}

.about .dish-image {
  width: 40vw;
  height: 40vw;
  grid-area: dish-image;
}

/* Media Query */
@media (max-width: 1199px) {
  .about {
    font-size: 12px;
  }
}

@media (max-width: 1023px) {
  .about {
    height: auto;
    grid-template:
      'about-article' auto
      'dish-image' auto
      / auto;
    align-items: center;
    grid-row-gap: 4em;
    font-size: 14px;
    padding-top: 6em;
    padding-bottom: 4em;
  }

  .about .cook-image {
    display: none;
  }

  .about article {
    width: 75vw;
  }

  .about .dish-image {
    width: 55vw;
    height: 55vw;
  }
}

@media (max-width: 899px) {
  .about {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .about {
    font-size: 12px;
  }

  .about article p {
    font-size: 1.4em;
  }
}

@media (max-width: 639px) {
  .about {
    font-size: 10px;
  }
}

@media (max-width: 479px) {
  .about {
    font-size: 8px;
  }
}
