footer {
  width: auto;
  background-color: #191919;
  color: #fff;
  padding: 4em;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer > div {
  width: 25em;
  max-height: 16em;
  text-align: center;
  overflow: hidden;
  margin-bottom: 4em;
}

footer .caption {
  font-size: 1.6em;
}

.footer-divider {
  width: 12em;
  height: 1.1em;
  display: block;
  margin: 1.1em auto;
}

footer p {
  font-family: 'OpenSans-regular';
  font-size: 1.1em;
  line-height: 1.7em;
}

.opensans-bold {
  font-family: 'OpenSans-bold';
}

footer div > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

footer .opening-hours ul {
  width: 10em;
}

footer .location ul {
  width: 5em;
}

footer ul img {
  display: block;
  max-height: 1.2em;
}

/* Media Query */
@media (max-width: 1199px) {
  footer {
    font-size: 12px;
  }
}

@media (max-width: 1023px) {
  footer {
    font-size: 14px;
  }

  footer > div {
    max-height: 16em;
  }
}

@media (max-width: 899px) {
  footer {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  footer {
    font-size: 12px;
  }
}

@media (max-width: 639px) {
  footer {
    font-size: 10px;
  }
}

@media (max-width: 479px) {
  footer {
    font-size: 8px;
  }
}
