.menu {
  width: 100%;
  background: linear-gradient(to right, rgba(223, 227, 227, 0.4) 40%, rgba(223, 227, 227, 0)), #fff;
  font-family: 'YesevaOne';
  color: #cc9900;
  display: grid;
  grid-template-columns: repeat(2, 34em);
  grid-auto-rows: auto;
  grid-gap: 4em 8em;
  justify-items: center;
  padding-top: 6em;
  padding-bottom: 6em;
  justify-content: center;
  font-size: 14px;
}

.menu .element {
  width: 32.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu .caption {
  font-size: 2.6em;
}

.menu .menu-divider {
  width: 17.6em;
  height: 1.7em;
  margin-top: 1.2em;
  margin-bottom: 1.6em;
}

.menu .dish {
  width: 100%;
  text-align: left;
  padding: 0.8em;
  margin-bottom: 1em;
}

.menu .dish:last-child {
  margin-bottom: 0;
}

.menu .name,
.menu .price {
  font-size: 1.5em;
}

.menu .name {
  margin-bottom: 0.5;
}

.menu .price {
  float: right;
}

.menu .description {
  font-family: 'OpenSans-semibold';
  font-size: 1.1em;
  color: #4c4c4c;
  display: block;
  border-top: 0.08em solid rgba(200, 159, 45, 0.4);
  padding-top: 1em;
  margin-top: 1em;
}

.menu .special {
  border: 0.08em solid rgba(200, 159, 45, 0.67);
}

.menu .special-label {
  width: 5em;
  height: 1.5em;
  background-color: rgba(200, 159, 45, 0.67);
  font-family: 'OpenSans-regular';
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-right: -0.96em;
  margin-top: 1em;
}

/* Media Query */
@media (max-width: 1199px) {
  .menu {
    font-size: 12px;
  }
}

@media (max-width: 1023px) {
  .menu {
    font-size: 14px;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 6em 0;
  }
}

@media (max-width: 899px) {
  .menu {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .menu {
    font-size: 12px;
  }
}

@media (max-width: 639px) {
  .menu {
    font-size: 10px;
  }
}

@media (max-width: 479px) {
  .menu {
    font-size: 8px;
  }
}
