.reservations {
  width: auto;
  background: linear-gradient(rgba(223, 227, 227, 0), rgba(223, 227, 227, 0.3) 70%), #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  padding: 6em;
}

.reservations .images {
  height: 31vw;
  display: flex;
}

.reservations .images img {
  width: 15vw;
}

.reservations .images img:first-child {
  margin-right: 2em;
}

.reservations .reservation {
  width: 31em;
}

.reservations .caption {
  color: #cc9900;
  font-family: 'YesevaOne';
  font-size: 2.6em;
}

.reservations .reservations-divider {
  width: 17.6em;
  height: 1.7em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.reservation .info p {
  font-family: 'Lato';
  font-size: 1.2em;
  color: #585858;
  line-height: 1.4em;
  margin-top: 0.8em;
}

.reservation .info p:first-child {
  margin-top: 0;
}

.reservation .info {
  width: 31em;
  text-align: center;
}

.reservation .reservations-about {
  max-height: 11.4em;
  overflow: hidden;
  margin-bottom: 2em;
}

.reservation form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reservation form > div {
  width: 14.2em;
  margin-bottom: 2em;
}

label,
input {
  display: block;
  outline: none;
}

.reservation label {
  font-family: 'OpenSans-bold';
  color: #c9a131;
}

.reservation input[type='text'] {
  background-color: rgba(255, 255, 255, 0.4);
}

.reservation input {
  width: 11.6em;
  height: 2.1em;
  padding: 0 1em;
  font-family: 'OpenSans-italic';
  font-size: 1.14em;
  border: 0.06em solid #c8c6c6;
  margin-top: 0.6em;
}

.reservation input::placeholder {
  color: #b4b5b5;
}

.reservation input:focus {
  border-color: #c89f2d;
}

.reservation .button {
  width: 11.6em;
  height: 2.1em;
  font-family: 'OpenSans-regular';
  font-size: 1.14em;
  border: none;
  background-color: #c9a131;
  color: #fff;
  margin-top: 0.6em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  cursor: pointer;
}

/* Media Query */
@media (max-width: 1199px) {
  .reservations {
    font-size: 12px;
  }
}

@media (max-width: 1023px) {
  .reservations {
    font-size: 14px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .reservations .images {
    display: none;
  }
}

@media (max-width: 899px) {
  .reservations {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .reservations {
    font-size: 12px;
  }
}

@media (max-width: 639px) {
  .reservations {
    font-size: 10px;
  }
}

@media (max-width: 479px) {
  .reservations {
    font-size: 8px;
  }
}
