.reviews {
  width: auto;
  height: auto;
  position: relative;
  font-size: 14px;
  padding: 6em 10em;
  display: flex;
  justify-content: center;
}

.reviews::before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: url('/pages/lambda-restaurant/img/bg3.png') no-repeat center center / cover;
  opacity: 0.6;
  z-index: -1;
}

.reviews article {
  width: auto;
  height: auto;
  display: inline-block;
  background: url('/pages/lambda-restaurant/img/reviews-article-bg.png') no-repeat center center / cover;
  color: #fff;
  padding: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews .reviews-divider {
  width: 17.6em;
  height: 1.7em;
  margin-top: 1.3em;
  margin-bottom: 1.8em;
}

.reviews .caption {
  font-family: 'YesevaOne';
  font-size: 2.6em;
}

.reviews p {
  font-family: 'GentiumBookBasic-bold';
  font-size: 1.6em;
  line-height: 1.8;
  width: 27em;
  max-height: 15.8em;
  overflow: hidden;
  text-align: center;
  margin-bottom: 2em;
}

.reviews article span {
  font-family: 'OpenSans-regular';
  font-size: 1.2em;
}

/* Media Query */
@media (max-width: 1199px) {
  .reviews {
    font-size: 12px;
  }
}

@media (max-width: 1023px) {
  .reviews {
    font-size: 14px;
    padding: 3em 2em;
  }

  .reviews article {
    width: 100%;
    height: 100%;
  }

  .reviews p {
    width: 100%;
  }
}

@media (max-width: 899px) {
  .reviews {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .reviews {
    font-size: 12px;
  }
}

@media (max-width: 639px) {
  .reviews {
    font-size: 10px;
  }
}

@media (max-width: 479px) {
  .reviews {
    font-size: 8px;
  }
}
