ul {
  display: none;
}

/*Large Tablet*/
@media (min-width: 768px) {
  ul {
    display: block;
    float: right;
  }

  li {
    display: inline-block;
    margin-right: 1.5em;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    padding: 0.5em 0.75em;
    opacity: 0.75;
    cursor: pointer;
    color: inherit;
    transition: opacity 0.2s ease-out, color 0.7s ease-out;
  }
  
  li:last-child {
    margin-right: 1em;
  }
  
  li:hover {
    opacity: 1;
  }

  .-selected {
    opacity: 1;
    font-weight: 600;
  }
}