.panel {
  width: calc(100vw - 3.125em);
  height: auto;
  padding: 1.5625em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  font-family: 'Raleway', sans-serif;
  display: table;
  color: #fff;
}

.panel > * {
  vertical-align: middle;
  display: table-cell;
}

app-navigate-button {
  float: right;
}

.panel::before {
  width: 100vw;
  height: 6.3375em; /* 6.4375em*/
  content: ' ';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.6);
  transform: translateY(-100%);
  transition: transform 0.7s cubic-bezier(0.55, 0.05, 0.35, 0.95);
}

/* State */
.-white {
  color: #333;
}
.-white::before {
  transform: translateY(0%);
}

/*Large Tablet*/
@media (min-width: 768px) {
  .panel {
    width: calc(100vw - 5em);
    padding: 1.875em 2.5em;
  }

  .panel::before {
    height: 6.775em;  /* 6.875em*/
  }
}