#projects {
  width: 100vw;
  height: calc(100vh - 6.4375em);
  color: #333;
  position: fixed;
  z-index: 7;
  padding-top: 6.4375em;
}

.mobile .project-name {
  font-size: 1.3em;
  width: 100%;
  padding: 0.75em 0;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.6);
}

.mobile .project-overview {
  max-height: calc(100vh - 13.696875em);
  font-size: 1.2em;
  padding: 1.5em 2em;
  line-height: 1.1em;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.4);
}

.overview-wrapper {
  width: 100%;
  height: 100%;
  max-height: inherit;
  overflow-y: scroll;
}

.overview-wrapper::-webkit-scrollbar { 
  display: none; 
}

.mobile .overview-wrapper > p{
  margin-bottom: 1.5em;
}

.button {
  text-align: end;
}

.button > a {
  display: inline-block;
  border: 0.125em solid #333;
  padding: 0.5em;
  color: #333;
}

@media (min-width: 768px) {
  #projects {
    min-height: calc(100vh - 6.875em);
    padding-top: 6.875em;
  }

  #projects > .projects-wrapper {
    height: 100%;
    display: flex;
  }

  .project-links-wrapper {
    width: 20em;
    height: 100%;
  }

  ul {
    width: 100%;
    cursor: pointer;
  }

  .desktop .project-name {
    font-size: 1.3em;
    width: 100%;
    padding: 0.75em 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.5s ease-out;
  }

  .desktop .-selected {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .desktop .project-overview {
    width: calc(90vw - 6em);
    max-height: calc(100vh - 6.875em);
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 4em;
    padding-right: 5vw;
    padding-bottom: 4em;
    padding-left: 5vw;
  }

  .desktop .project-overview .name{
    font-size: 2em;
    margin-bottom: 1em;
  }

  .desktop .description,
  .desktop .tools {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2em;
  }

  .desktop .description {
    margin-bottom: 1em;
  }

  .desktop .tools {
    margin-bottom: 3em;
  }

  .button > a {
    font-size: 1.25em;
  }
}