#projects {
  width: 100vw;
  height: calc(100vh - 6.4375em);
  color: #fff;
  position: fixed;
  z-index: 7;
  padding-top: 6.4375em;
}

#projects::before {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background: url('/img/background-projects.jpeg') no-repeat center center / cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
}

.animated-block {
  display: none;
}

#projects .links-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

#projects .link {
  width: 100%;
  height: calc(100vh - 6.4375em);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60% 40%;
  position: fixed;
  transition: opacity 1s cubic-bezier(0.55, 0.05, 0.35, 0.95);
}

#projects .text {
  background-color: rgb(255, 255, 255);
  color: #333;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5em;
}

#projects .description,
#projects .tools {
  color: #000;
  font-weight: 200;
}

#projects .link .btn-move-to-link {
  font-size: 0.6em;
  width: 8em;
  padding: 1em;
  border: 0.15em solid #333;
  text-align: center;
  color: #333;
  font-weight: 600;
  cursor: pointer;
}

#projects .project1 .image {
  background: url('/img/projects-bg1.png') no-repeat center center / cover;
}

#projects .project2 .image,
#projects .project3 .image {
  background-color: rgb(51, 51, 51);
}

#projects .links-wrapper .move-pointers {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 25;
}

#projects .links-wrapper .pointer {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 1.5em;
  cursor: pointer;
}

#projects .links-wrapper .pointer:hover {
  background-color: rgba(255, 255, 255, 1);
}

#projects .-activeProject {
  opacity: 1;
  z-index: 20;
  transition: opacity 1s cubic-bezier(0.55, 0.05, 0.35, 0.95) 1s;
}

#projects .-hiddenProject {
  opacity: 0;
  z-index: 15;
}

@media (min-width: 768px) {
  #projects {
    height: calc(100vh - 5.136363636363636em);
    padding-top: 5.136363636363636em;
  }

  .animated-block {
    display: block;
    grid-row: 1 / 3;
    background-color: rgba(51, 51, 51, 0.4);
  }

  #projects .link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 40%;
    height: calc(100vh - 5.136363636363636em);
  }

  #projects .text {
    padding: 1.5em;
  }

  #projects .description,
  #projects .tools {
    font-size: 0.9em;
  }
}
