#contact {
  width: 100vw;
  height: 100vh;
  color: #fff;
  position: fixed;
  z-index: 7;
  display: table;
}

#contact .wrapper {
  width: 22em;
  height: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

#contact .text {
  font-size: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 1.5em;
  opacity: 0.75;
}

#contact .email {
  font-size: 1.3em;
  margin-bottom: 2em;
}

#contact li {
  width: 4em;
  text-decoration: underline;
  display: inline-block;
  font-size: 1.3em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  opacity: 1;
}

#contact li:hover {
  opacity: 0.75;
}

@media (min-width: 768px) {
  #contact {
    font-size: 1.3em;
  }
  #contact .text-or {
    margin-bottom: 1em;
  }

  #contact .email {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  #contact li {
    font-size: 1.2em;
    padding-right: 1.5em;
    padding-left: 1.5em;
  }

  /* Animation States */
  .-current .text {
    transform: translateX(100%);
    animation: show 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s 1 forwards;
  }
  .-current .email {
    transform: translateX(-100%);
    animation: showLeft 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s 1 forwards;
  }
  .-current .text-or {
    transform: translateY(50vh);
    animation: showBottom 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s 1 forwards;
  }
  .-current ul {
    transform: translateY(50vh);
    animation: showBottom 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s 1 forwards;
  }
}