#about {
  width: 70vw;
  height: 75vh;
  color: #fff;
  position: fixed;
  z-index: 7;
  padding-top: 25vh;
  padding-right: 15vw;
  padding-left: 15vw;
}

#about p {
  font-size: 1.3em;
  line-height: 1.2em;
}

@media (min-width: 768px) {
  #about {
    height: 70vh;
    padding-top: 30vh;
  }
  #about p {
    font-size: 1.6em;
    line-height: 1.4em;
  }

  /* Animation States */
  .-current p {
    transform: translateX(150%);
    animation: show 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s 1 forwards;
  }
}